{% extends 'layout.html' %}

{% block content%}
<h1>Publicaciones</h1>

{%for publicacion in publicacion%}
<div class="p-3">
<div class="card card-body bg-black"> 
    <div class="row">

        <div class="col-3">

            <img src="{{publicacion.imagen.url}}" class="img-fluid">
        </div>

        <div class="col-9">

    <h1>{{publicacion.titulo}}</h1>
  
    

    <p>{{publicacion.fecha | date:'M d Y'| upper }}</p>

    <a href="{% url 'blog:publicacion_detalle' publicacion.id %}" class="btn btn-primary"> {{publicacion.titulo}}</a>

</div>
</div>
</div>
</div>
{%endfor%}    

{%endblock%}